html {
	font-family: sans-serif;
}

body {
	font-family: ProximaNova, sans-serif;
	font-weight: 400;
	line-height: 1.625;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: ProximaNova, sans-serif;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0.768px;
	margin: 0 0 20px;
}

h1 {
	font-size: 35px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 25px;
}

h4 {
	font-size: 21px;
}

p {
	margin: 0 0 29.25px;
	padding: 0;
	font-size: 18px;
}